

body, body * {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
     margin: auto;
}

.topsect {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    background-color: #1f2937;
   flex-wrap: wrap;
   
}

.offset {
    padding: 0px 5%;
}

.myheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.myheader ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 10px;
}

ul a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: #f9faf8;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.botbit {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.botleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
}

.botright {
    display: flex;
    justify-content: center;
}

.botright img {
    max-width: 400px;
    min-width: 250px;
}

.awesome span {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.awesome > div {
    font-size: 18px;
    color: #e5e7eb;
}

/*
* {
    box-sizing: border-box;
}
*/

img {
    width: 100%;
  }

  .signup .btn{
    background: #3882f6;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100px;
    color: : white;
    padding: 5px;
    border-radius: 10px;
  }

  
    .btn {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
  
      .info {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #ffffff;
      }

      .info .box-image {
            height: 250px;
            width: 250px;
            border: 4px solid;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 10px;
      }
      .info .box-image img {
        height: 100%;
        width: 100%;
      }


      .tabhead h2
      {
            font-size: 2.25rem;
            font-weight: 900;
            text-align: center;
            padding-top: 20px;
      }

      .quotation {
        background-color:#e5e7eb;
        padding: 50px 50px;
        margin: 50px 0px;
      }

       .quotation p {
        font-size: 2.25rem;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        color: #1f2937;
        margin-top: 30px;
      }

      .quotation span p {
        text-align: right;
        font-weight: bold;
        font-style: normal;
        margin-top: 10px;
        font-size: 1.25rem;
      }

     .actioncall {
        padding: 0px 150px;
        background-color: #ffffff;
        border-radius: 10px;
        margin: 30px 0px;

     }

     .mainbox.offset {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 150px;
        gap: 30px;
        background-color: #3882f6;
        font: white;
        border-radius: 15px;
     }

     .btn {
        background-color: #3882f6;
        border: white solid 2px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 15px;
    }

    .leftside h2, p {
        color: white;   
        margin-bottom: 10px;
        margin-top: 10px;
    }

    footer {
        background-color: #1f2937;
        padding: 20px 0px;
    }

    footer p {
        font-size: 1em;
        color: white;
        text-align: center;
    }

    img#bhag {
        width: 100%;
    }